html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.9);
  background-color: #050505;
}

#root {
  position: relative;
  margin: auto;
  min-height: 100vh;
}

input {
  border-radius: 5px;
  font-size: 18px;
}

h1 {
  font-weight: 600;
}

a {
  text-decoration: none;
}

.big-panel {
  height: 90vh;
  border-radius: 2%;
  border: 1px solid #191919;
  margin: 0% 1%;
  padding: 1% 5%;
}


.card {
  border-radius: 0.5rem;
  padding: 2rem 3rem;
  margin: 1rem;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.show-on-init-fast {
  animation: fadeIn 0.2s;
  opacity: 1;
}

.show-on-init-medium {
  animation: fadeIn 0.5s;
  opacity: 1;
}

.show-on-init-slow {
  animation: fadeIn 1s;
  opacity: 1;
}

.show-on-init-very-slow {
  animation: fadeIn 2s;
  opacity: 1;
}


.hide-on-end-fast {
  animation: fadeOut 0.2s;
  opacity: 0;
}

.hide-on-end-medium {
  animation: fadeOut 0.5s;
  opacity: 0;
}

.hide-on-end-slow {
  animation: fadeOut 1s;
  opacity: 0;
}

.hide-on-end-very-slow {
  animation: fadeOut 2s;
  opacity: 0;
}

.li-0 {
  text-indent: 10%;
}