html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.9);
  background-color: #010405;
}

#root {
  position: relative;
  margin: auto;
  min-height: 100vh;
}

input {
  border-radius: 0.5rem;
  font-size: 18px;
  background-color: #151515;
  border: 0.1rem solid #424242;
  color: #909090;
  width: 90%;
  padding: 4%;
}

h1 {
  font-weight: 600;
}

a {
  text-decoration: none;
}

.line-heading {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 10px;
  position: relative;
  color: #808080;
}

.line-heading:before {
  content: '';
  border-top: 1px solid #b0b0b0;
  margin: 0px 5px 0px 0px;
  flex: 1 0 20px;
}

.line-heading:after {
  content: '';
  border-top: 1px solid #b0b0b0;
  margin: 0px 0px 0px 5px;
  flex: 1 0 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.show-on-init-fast {
  animation: fadeIn 0.2s;
  opacity: 1;
}

.show-on-init-medium {
  animation: fadeIn 0.5s;
  opacity: 1;
}

.show-on-init-slow {
  animation: fadeIn 1s;
  opacity: 1;
}

.show-on-init-very-slow {
  animation: fadeIn 2s;
  opacity: 1;
}


.hide-on-end-fast {
  animation: fadeOut 0.2s;
  opacity: 0;
}

.hide-on-end-medium {
  animation: fadeOut 0.5s;
  opacity: 0;
}

.hide-on-end-slow {
  animation: fadeOut 1s;
  opacity: 0;
}

.hide-on-end-very-slow {
  animation: fadeOut 2s;
  opacity: 0;
}